.input {
	background-color: #EFEFEF;
	border:1px solid #E3E3E3;
	padding: 15px 10px ;
	font-size: 15px;
	border-radius: 10px;
	width:auto
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.label {
	font-size: 15px;
}