.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.courseTable {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow:scroll;
}

.courseTableHeader {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.courseTableBody {
    display: flex;
    flex-direction: column;
}

.courseTableRow {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}