.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #272727;
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	gap:5px;
}

.button:hover {
	background-color: #161616d6;
}