.profilePage {
	width:100%;
	display: flex;
	flex-direction: column;
}

.profileInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:15px;
}

.header {
	margin-bottom: 30px;
}

.profileRight {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.name {
	font-size:20px;
	margin: 0;
}

.email {
	margin: 0;
}

.role {
	margin: 0;
	font-size: 12px;
}

.nameAndEmail {
	display: flex;
	align-items: center;
	gap: 5px;
}

.formHeader {
	display: flex;
	align-items: center;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #E9E9E9;
	margin: 10px 0;
}

.editButton {
	margin-left: auto;
}

.formContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.inputContainer {
	display:grid;
	grid-template-columns: repeat(2, 500px);
	row-gap: 30px;
	column-gap:20px;
}