.ResultsViewContainer{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px  ;
    /* justify-content: center; */
}

.ResultsViewContent{
    width: 90%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}