.page {
    margin-top: 40px;
}

.userUpdateForm {
    display: flex;
    gap:5px;
    flex-direction: column;
}

.controls {
    margin-top:10px;
    display: flex;
    flex-direction: row;
    gap:5px;
}